<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h2>About us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      excepturi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Nostrum sapiente omnis sit provident adipisci praesentium perferendis vel
      ipsum eos natus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      excepturi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Nostrum sapiente omnis sit provident adipisci praesentium perferendis vel
      ipsum eos natus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      excepturi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Nostrum sapiente omnis sit provident adipisci praesentium perferendis vel
      ipsum eos natus.
    </p>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
