<nav>
  <div class="site-title">
    <a href="/"><h2>Blog Hub</h2></a>
    <p>sites for blog</p>
  </div>

  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog/create">New Blog</a></li>
  </ul>
</nav>
